In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv(r"C:\Users\DELL\Downloads\train_ctrUa4K.csv")
test = pd.read_csv(r"C:\Users\DELL\Downloads\test_lAUu6dG.csv")

In [6]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [8]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [9]:
train.shape ,test.shape

((614, 13), (367, 12))

In [10]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
train['Gender'].fillna(train['Gender'].mode()[0], inplace=True)
train['Married'].fillna(train['Married'].mode()[0], inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0], inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0], inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0], inplace=True)

In [14]:
train['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [17]:
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)

In [18]:
train['LoanAmount'].fillna(train['LoanAmount'].median(), inplace = True)

In [19]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [20]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [21]:
test['Gender'].fillna(test['Gender'].mode()[0], inplace=True)
test['Married'].fillna(test['Married'].mode()[0], inplace=True)
test['Dependents'].fillna(test['Dependents'].mode()[0], inplace=True)
test['Self_Employed'].fillna(test['Self_Employed'].mode()[0], inplace=True)
test['Credit_History'].fillna(test['Credit_History'].mode()[0], inplace=True)
test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0], inplace=True)
test['LoanAmount'].fillna(test['LoanAmount'].median(), inplace = True)

In [22]:
## model building

In [23]:
train = train.drop('Loan_ID',axis=1)
test = test.drop('Loan_ID',axis = 1)

In [24]:
X = train.drop('Loan_Status',1)
y = train.Loan_Status

C:\Users\DELL\AppData\Local\Temp\ipykernel_10656\3932897971.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = train.drop('Loan_Status',1)

In [25]:
X = pd.get_dummies(X)
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X,y, test_size =0.3)

In [27]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [28]:
model = LogisticRegression() 
model.fit(x_train, y_train)

LogisticRegression()

In [29]:
pred_cv = model.predict(x_cv)

In [30]:
accuracy_score(y_cv,pred_cv)

0.7621621621621621

In [31]:
pred_test = model.predict(test)

In [32]:
# Letâ€™s import the submission file

In [33]:
sub = pd.read_csv(r"C:\Users\DELL\Downloads\sample_submission_49d68Cx.csv")

In [34]:
sub

      Loan_ID Loan_Status
0    LP001015           N
1    LP001022           N
2    LP001031           N
3    LP001035           N
4    LP001051           N
..        ...         ...
362  LP002971           N
363  LP002975           N
364  LP002980           N
365  LP002986           N
366  LP002989           N

[367 rows x 2 columns]

In [42]:
test_original=test.copy()

In [48]:
sub['Loan_Status']=pred_test

In [49]:
sub['Loan_Status'].replace(0, 'N',inplace=True) 
sub['Loan_Status'].replace(1, 'Y',inplace=True)

In [50]:
pd.DataFrame(sub, columns=['Loan_ID','Loan_Status']).to_csv('LP.csv')

In [51]:
data = pd.read_csv(r"C:\Users\DELL\Desktop\ictak python\Assignments\LP.csv")

In [52]:
data

     Unnamed: 0   Loan_ID Loan_Status
0             0  LP001015           Y
1             1  LP001022           Y
2             2  LP001031           Y
3             3  LP001035           Y
4             4  LP001051           Y
..          ...       ...         ...
362         362  LP002971           Y
363         363  LP002975           Y
364         364  LP002980           Y
365         365  LP002986           Y
366         366  LP002989           Y

[367 rows x 3 columns]

In [54]:
data.columns

Index(['Unnamed: 0', 'Loan_ID', 'Loan_Status'], dtype='object')

In [59]:
data = data.drop('Unnamed: 0',axis= 1)

In [60]:
data

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

In [61]:
pd.DataFrame(data, columns=['Loan_ID','Loan_Status']).to_csv('loan.csv')